html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: #eff0f3;
}

nav a {
  padding: 0 15px;
}

.bg-light {
  background-color: #fdfdfd!important;
  box-shadow: 0 0 2px #0202024d;
  margin-bottom: 2rem;
}

nav a:hover {
  text-decoration: none;
  color:black;
}

video {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -5;
  max-width: 200vh;
}
.home {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;
}

.form {
  background: rgba(255, 255, 255, 0.89);
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 3px;
}

.form .alert {
  margin-top: 1.5rem;
  opacity: 0;
  animation: fadeIn 2000ms ease forwards;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 0px 0px 0px black;
}

.form-group {
  margin: 2rem 0;
}

label {
  display: block;
}

.table {
  background-color: white;
  box-shadow: 0 0 2px #00000033;
  border: 1px solid #8080802e;
}

th {
  color: whitesmoke;
  background-color: #4f6995;
}
@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
