html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: linear-gradient(to right, #2f4f4f2e, #6495ed38);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 1px 1px 2px #0000003b;
  font-size: 2em;
  margin-bottom: 30px;
}

h2 {
  background: #192431d4;
  display: inline-block;
  padding: 10px 40px;
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-right: -15px;
  margin-left: 0px;
}

.form h2 {
  background: transparent;
  color: initial;
  padding: initial;
}

nav .nav-flex {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 0 15px;
}

.bg-light {
  background-color: #fdfdfd!important;
  box-shadow: 0 0 2px #0202024d;
  margin-bottom: 2rem;
}

nav a:hover {
  text-decoration: none;
  color:black;
}

video {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -5;
  max-width: 200vh;
}
.home {
  position: relative;
  overflow: hidden;
}

.form {
  background: rgba(255, 255, 255, 0.89);
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 3px;
}

.form .alert {
  margin-top: 1.5rem;
  opacity: 0;
  animation: fadeIn 2000ms ease forwards;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 0px 0px 0px black;
}

.form-group {
  margin: 2rem 0;
}

label {
  display: block;
}

.table {
  background: transparent;
  box-shadow: 0 0 2px #00000033;
  border: 1px solid #8080802e;
}

.table tbody {
  background: #ffffffe0;
}

.table thead th {
  border: none;
  background: #192431d4;
  font-weight: 400;
}

.table td {
  border-top: 1px solid #9393932b;
}

.table-striped {
  overflow: scroll;
  max-height: 500px;
}

th {
  color: whitesmoke;
  background-color: #4f6995;
}

.column-smallWidth {
  width: 100px;
}

.loggedIn {
  color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
